<!DOCTYPE html>
<html>
<head>
    <title>Finance Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="app">
        <h1>Finance Quiz</h1>
        <h3 id="information">information</h3>
        <div class="quiz">
            <h2 id="question">INSERT Q1</h2>
            <div id="answerBtn">
                <button class="btn" id="btn1">A1</button>
                <button class="btn" id="btn2">A2</button>
                <button class="btn" id="btn3">A3</button>
                <button class="btn" id="btn4">A4</button>
            </div>
            <div id="nextButtonContainer" style="display: none;">
                <button id="nextBtn">Next</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
